.ReactModalPortal > div {
    opacity:0;
}

.ReactModalPortal .ReactModal__Overlay{
    transition:opacity 200ms ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity:1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity:0;
}

.custommodal{
    
    color:black;
    width:1300px;
    height: 500px;
    max-width: 1000px;
    outline: none;
    padding: 20px;
    text-align: center;
}

.modal__title{
    margin:0 0 100px 0;
}

.modal__body{
    margin:0 0 20px 0;
    font-size: 20px;
    font-weight: 300;
    background-color:#f5f5f5;
}